.card-item {
    display: flex;
    border: solid 1px #f0f0f0;
}

.description {
    width: 100%;
    padding-left: 10px;
}

.thumbnail {
    max-width: 240px;
    max-height: 200px;
    width: 300px;
    overflow: hidden;
    border-right: solid 1px #f0f0f0;
}

.thumbnail img {
    width: 100%;
    min-height: 200px;
}
.label {
    font-style: italic;
    color: darkcyan;
}
